.advantages {
  margin-bottom: 100px;

  @include mobile {
    margin-bottom: 50px;
  }

  &__title {}

  &__wrapp {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-image: url(../img/banner/img-8.webp);
    background-repeat: no-repeat;
    background-size: cover;

    @include big-desktop {
      grid-template-columns: repeat(8, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      background-image: none;
    }

  }

  &__right {
    grid-column: 3/span 4;
    background-color: var(--primary);
    color: var(--light);
    padding: 40px 60px;
    border-radius: 5px;
    transform: scale(1.03);

    @include big-desktop {
      grid-column: 2/span 6;
      padding: 20px 30px;
    }

    @include tablet {
      grid-column: 1/span 2;
      padding: 20px 40px;
    }

    @include mobile {
      transform: scale(1);
      padding: 25px 15px;
    }
  }

  &__left {
    grid-column: 1/span 2;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__card {
    background-color: #ffffff80;
    border-radius: 5px;
    color: var(--secondary);
    background-size: 75px;
    background-repeat: no-repeat;
    padding: 25px 25px 25px 125px;
    background-position: 25px center;

    @include mobile {
      background-size: 50px;
      padding: 90px 15px 25px 15px;
      background-position: center 20px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:nth-child(1) {
      background-image: url(../img/svg/10age.svg);
    }

    &:nth-child(2) {
      background-image: url(../img/svg/snip.svg);
    }

    &:nth-child(3) {
      background-image: url(../img/svg/camera.svg);
    }

    &:nth-child(4) {
      background-image: url(../img/svg/control.svg);
    }

    &:nth-child(5) {
      background-image: url(../img/svg/5age.svg);
    }

    &:nth-child(6) {
      background-image: url(../img/svg/50home.svg);
    }

    &:nth-child(7) {
      background-image: url(../img/svg/24.svg);
    }

    &-title {
      margin-bottom: 5px;

      @include mobile {
        text-align: center;
      }
    }

    &-text {
      font-size: 16px;

      @include mobile {
        text-align: center;
      }
    }
  }
}