.burger {
  display: none;

  @include tablet {
    display: block;
    z-index: 10;
  }

  &__icon {
    width: 36px;
    height: 28px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    & .line {
      width: 100%;
      height: 3px;
      position: relative;
      right: 0px;
      background-color: var(--primary);
      transition: 0.3s ease-in-out;
    }
  }

  &--active {
    & .line {
      width: 100%;
      background-color: var(--primary);

      &:nth-child(1) {
        width: 100%;
        top: 12px;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        width: 0;
      }

      &:nth-child(3) {
        width: 100%;
        top: -13px;
        transform: rotate(-45deg);
      }
    }
  }
}

.menu {
  &__title {
    display: none;
  }

  @include tablet {
    position: fixed;
    // top: 76px;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh);
    // height: calc(100vh - 76px);
    // background-color: rgba(0, 0, 0, 0.85);
    background-color: var(--darken);
    // background: linear-gradient(to bottom, #040f1b 0%, #08111a 20%, rgba(19, 22, 26, 0) 65%, rgba(27, 26, 26, 0) 100%);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    padding: 25px;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    z-index: 10;

    &__title {
      display: block;
      color: var(--light);
      margin-bottom: 35px;
    }
  }

  &--light {
    background: var(--light);

    & .menu__title {
      color: var(--secondary);
    }
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }
}