.hero {
  margin-bottom: 100px;

  @include mobile {
    margin-bottom: 50px;
  }

  &__container {
    width: 100%;

    @include big-desktop {
      padding: 0 50px;
    }

    @include tablet {
      padding: 0 25px;
    }

    @include small-tablet {
      padding: 0 var(--container-offset);
    }

    @include mobile {
      padding: 50px var(--container-offset) 0;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    color: var(--light);
  }

  &__wrapp {
    max-width: 1000px;

    @include big-desktop {
      max-width: 800px;
    }
  }

  &__swiper {
    height: 900px;

    @include big-desktop {
      height: 700px;
    }

    @include mobile {
      height: 600px
    }
  }


  &__slide {

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }

    &::before {
      z-index: 1;
      background-color: #001c41;
      opacity: .25;
    }

    &::after {
      z-index: 2;
      opacity: .75;
      background: linear-gradient(to bottom, #040f1b 0%, #08111a 20%, rgba(19, 22, 26, 0) 65%, rgba(27, 26, 26, 0) 100%);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__subtitle {
    margin-bottom: 15px;
  }

  &__wrapp-btn {
    display: flex;
    gap: 30px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__btn {
    @include mobile {
      margin-right: auto;
    }
  }

  &__pagination {
    & .swiper-pagination-bullet-active {
      background: var(--primary);
    }
  }

}
