.service {
  margin-bottom: 100px;

  @include mobile {
    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    gap: 30px;
    grid-template-areas:
      "a c c"
      "b d e"
      "b f g";
    margin-bottom: 30px;

    @include tablet {
      gap: 15px;
      grid-template-rows: repeat(4, 250px);
      grid-template-areas:
        "a b b"
        "c c d"
        "e f f"
        "g g g";
    }

    @include small-tablet {
      grid-template-areas:
        "a b b"
        "c c d"
        "f e e"
        "g g g";
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 2em repeat(6, 150px);

      grid-template-areas: "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g";
    }
  }

  &__item {
    position: relative;
    padding: 25px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include small-tablet {
      padding: 15px;
    }

    &.a {
      grid-area: a;

      @include tablet {
        display: flex;
        align-items: center;
        text-align: center;
      }

      @include mobile {
        padding: 0 0 0 0px;
      }

    }

    &.b {
      grid-area: b;
      background-image: url(../img/service/stroitelstvo.webp);
    }

    &.c {
      grid-area: c;
      background-image: url(../img/service/prodazha.webp);
    }

    &.d {
      grid-area: d;
      background-image: url(../img/service/podbor.webp);
    }

    &.e {
      grid-area: e;
      background-image: url(../img/service/proyektirovaniye.webp);
    }

    &.f {
      grid-area: f;
      background-image: url(../img/service/3d.webp);
    }

    &.g {
      grid-area: g;
      background-image: url(../img/service/chistovaya-otdelka.webp);
    }
  }

  &__desc {
    display: inline-flex;
    background-color: var(--light);
    color: var(--secondary);
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    margin-right: 15px;

    // @include small-tablet {
    //   margin-right: 15px;
    // }
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    background-color: var(--primary);
    color: var(--light);
    padding: 25px;
    border-radius: 5px;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 25px;
    }
  }

  &__subtitle {
    margin-bottom: 15px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__item:not(:first-child):after {
    content: "";
    // z-index: 1;
    opacity: 0.5;
    background: linear-gradient(to bottom, #040f1b 0%, #08111a 20%, rgba(19, 22, 26, 0) 65%, rgba(27, 26, 26, 0) 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 5px;
  }

}

.form {
  &__label {
    position: relative;
    margin-bottom: 25px;
  }

  &__input {
    width: 100%;
    border-radius: 5px;
    padding: 15px 15px;
    font-size: 16px;
    // margin-bottom: 15px;
    font-family: var(--font-family);
    font-weight: 600;
    background-color: var(--light);
    border: 1px solid #fff;
    color: var(--secondary);
    transition: all 300ms linear 0ms;

    &:hover {
      border: 1px solid var(--secondary);
    }

    &:focus {
      outline: none;
      border: 1px solid var(--secondary);
    }
  }

  ::placeholder {
    color: var(--secondary);
  }

  &__btn {
    margin: 0 auto 0 0;
    padding: 15px 40px;
  }

  .just-validate-error-label {
    position: absolute;
    bottom: 40px;
    left: 10px;
    font-size: 14px;
    background: #ff5050;
    color: #fff !important;
    padding: 0px 10px;
    border-radius: 10px;
  }
}