.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__link {}

  &__icon {
    display: block;
    width: 35px;
    height: 35px;
    fill: var(--primary);
  }
}