.stage {
  margin-bottom: 100px;
  padding: 80px 0;
  background-image: url(../img/banner/img-4.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: rgba(0, 46, 109, 1);
  }

  &__title {
    color: var(--light);
    margin-bottom: 25px;
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }

  &__desc {
    grid-column: 1 /span 2;
    padding: 0 60px 40px 60px;
  }

  &__pagination {
    position: static;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  &__pagination-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--font-title);
    font-size: 22px;
    width: 110px;
    height: 50px;
    color: var(--light);
    background-color: transparent;
    padding: 10px;
    margin: 0 !important;
    opacity: 1;
    transition: all 300ms linear 0ms;

    &::before {
      content: '';
      position: absolute;
      width: 55%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--primary);
      border-radius: 5px;
      z-index: -1;
      transition: all 300ms linear 0ms;
    }

    &.swiper-pagination-bullet-active {
      color: var(--primary);

      & .stage__pagination-text {

        color: var(--primary);
      }
    }

    &.swiper-pagination-bullet-active::before {
      background-color: var(--light);
      width: 100%;
    }

    &:hover {
      color: var(--primary);

      & .stage__pagination-text {
        color: var(--primary);
      }

      &::before {
        background-color: var(--light);
        width: 100%;
      }
    }
  }

  &__pagination-text {
    position: absolute;
    font-size: 20px;
    font-family: var(--font-title);
    left: 45px;
    color: var(--light);
    transition: all 300ms linear 0ms;
  }

  &__swiper {
    position: relative;
    grid-column: 3 /span 4;
    width: 100%;
  }

  &__slide {
    border-radius: 5px 0 0 5px;

    &:after {
      content: "";
      opacity: 0.5;
      background: -webkit-gradient(linear, left top, left bottom, from(#040f1b), color-stop(20%, #08111a), color-stop(65%, rgba(19, 22, 26, 0)), to(rgba(27, 26, 26, 0)));
      background: linear-gradient(to bottom, #040f1b 0%, #08111a 20%, rgba(19, 22, 26, 0) 65%, rgba(27, 26, 26, 0) 100%);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border-radius: 5px;
    }

    // & .swiper-slide-active {
    //   // & .stage__content {
    //   //   background-color: red;
    //   //   transform: translateX(50px);
    //   // }
    //   background-color: red;
    // }
    &.swiper-slide-active {
      & .stage__content {
        transform: translate(0px, 0px);
        opacity: 1;
      }
    }


  }

  &__content {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: var(--light);
    color: var(--primary);
    padding: 10px 25px;
    border-radius: 5px;
    z-index: 1;
    transform: translate(30px, 20px);
    opacity: 0;
    transition: all 500ms linear 0ms;
  }
}



.swiper--stage {}