.works {
  margin-bottom: 100px;

  @include mobile {
    margin-bottom: 50px;
  }
  &__swiper {
    padding: 0 30px;
    margin-bottom: 50px;
  }
  &__title {}

  &__list {}

  &__item {
    height: auto;
    // margin-top: 10px;
    // margin-left: 1px;
    // margin-bottom: 20px;

    // @include big-desktop {
    //   margin-top: 0;
    //   margin-left: 0;
    //   margin-bottom: 20px;
    // }
  }

  &__card {}

  &__pagination {
    position: relative;
    padding-top: 20px;

    & .swiper-pagination-bullet-active {
      background: var(--primary);
    }
  }
}

.swiper--works {
  // margin-right: 0;
  // margin-left: calc((100vw - var(--container-width)) /2);

  // @include big-desktop {
  //   margin: 0 auto;
  //   padding: 0 var(--container-offset);
  //   max-width: var(--container-width);
  // }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.2509803922);

  &__desc-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    font-size: 16px;
    margin: auto 0;
  }

  &__img {
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 20px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__i {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 15px;
    background-color: var(--primary);
    border-radius: 5px;
    color: var(--light);
  }

  &__desc {
    margin-bottom: 10px;
  }

  &__btn {
    justify-content: center;
    padding: 10px 40px;
    margin-top: auto;
  }
}
