:root {
  --font-title: "Montserrat", sans-serif;
  --font-family: "Inter", sans-serif;
  --content-width: 1280px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light: #fff;
  --body: #64696e;
  --primary: #37BE75;
  --secondary: #002e6d;
  --darken: #001c41;
  --lighten: #19427b;
  --meta: #505458;
  --bg-color: #f9f9f9;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}
@media (max-width: 1024px) {
  .page__body {
    font-size: 16px;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title, --font-family, sans-serif);
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  overflow: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 600;
}
@media (max-width: 576px) {
  .title {
    font-size: 20px;
  }
}
.title--hero {
  font-size: 75px;
  line-height: 1.1;
}
@media (max-width: 1440px) {
  .title--hero {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .title--hero {
    font-size: 50px;
  }
}
@media (max-width: 576px) {
  .title--hero {
    font-size: 30px;
  }
}
.title--section {
  font-size: 40px;
  margin-bottom: 25px;
}
@media (max-width: 1440px) {
  .title--section {
    font-size: 34px;
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .title--section {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .title--section {
    font-size: 26px;
  }
}
.title--medium {
  font-size: 24px;
}
@media (max-width: 576px) {
  .title--medium {
    font-size: 22px;
  }
}
.title--small {
  font-size: 18px;
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
}

.content--small {
  font-size: 16px;
}

.btn {
  position: relative;
  font-size: 16px;
  -webkit-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 25px 40px;
}
@media (max-width: 1440px) {
  .btn {
    padding: 20px 30px;
  }
}
@media (max-width: 576px) {
  .btn {
    padding: 15px 20px;
  }
}
.btn--g-w {
  background-color: var(--primary);
  color: var(--light);
}
.btn--g-w .arrow-btn {
  fill: var(--light);
}
.btn--g-w:hover {
  background-color: var(--light);
  color: var(--secondary);
}
.btn--g-w:hover .arrow-btn {
  fill: var(--secondary);
}
.btn--g-w:focus {
  outline: none;
  color: var(--light);
  background-color: var(--secondary);
}
.btn--g-w:focus .arrow-btn {
  fill: var(--light);
}
.btn--w-g {
  background-color: var(--light);
  color: var(--secondary);
}
.btn--w-g:hover {
  background-color: var(--primary);
  color: var(--light);
}
.btn--w-g:focus {
  outline: none;
  color: var(--light);
  background-color: var(--secondary);
}
.btn--w-b {
  background-color: var(--light);
  color: var(--secondary);
}
.btn--w-b .arrow-btn {
  fill: var(--secondary);
}
.btn--w-b:hover {
  background-color: var(--secondary);
  color: var(--light);
}
.btn--w-b:hover .arrow-btn {
  fill: var(--light);
}
.btn--w-b:focus {
  outline: none;
  color: var(--light);
  background-color: var(--secondary);
}
.btn--w-b:focus .arrow-btn {
  fill: var(--light);
}
.btn--g-b {
  background-color: var(--primary);
  color: var(--light);
}
.btn--g-b .arrow-btn {
  fill: var(--light);
}
.btn--g-b:hover {
  background-color: var(--secondary);
  color: var(--light);
}
.btn--g-b:hover .arrow-btn {
  fill: var(--light);
}
.btn--g-b:focus {
  outline: none;
  color: var(--light);
  background-color: var(--secondary);
}
.btn--g-b:focus .arrow-btn {
  fill: var(--light);
}
.btn--b-g {
  background-color: var(--secondary);
  color: var(--light);
}
.btn--b-g .arrow-btn {
  fill: var(--light);
}
.btn--b-g:hover {
  background-color: var(--primary);
  color: var(--light);
}
.btn--b-g:hover .arrow-btn {
  fill: var(--light);
}
.btn--b-g:focus {
  outline: none;
  background-color: var(--primary);
  color: var(--light);
}
.btn--b-g:focus .arrow-btn {
  fill: var(--light);
}
.btn--b-w {
  background-color: var(--secondary);
  color: var(--light);
}
.btn--b-w .arrow-btn {
  fill: var(--light);
}
.btn--b-w:hover {
  background-color: var(--light);
  color: var(--secondary);
}
.btn--b-w:hover .arrow-btn {
  fill: var(--secondary);
}
.btn--b-w:focus {
  outline: none;
  background-color: var(--light);
  color: var(--secondary);
}
.btn--b-w:focus .arrow-btn {
  fill: var(--secondary);
}
.btn--t-g {
  background-color: transparent;
  color: var(--secondary);
  -webkit-box-shadow: 0 0 0 2px var(--secondary);
  box-shadow: 0 0 0 2px var(--secondary);
}
.btn--t-g:hover {
  background-color: var(--primary);
  color: var(--light);
  -webkit-box-shadow: 0 0 0 2px var(--primary);
  box-shadow: 0 0 0 2px var(--primary);
}
.btn--t-g:focus {
  outline: none;
  background-color: var(--primary);
  color: var(--light);
  -webkit-box-shadow: 0 0 0 2px var(--primary);
  box-shadow: 0 0 0 2px var(--primary);
}
.btn--t-w {
  background-color: transparent;
  color: var(--light);
  -webkit-box-shadow: 0 0 0 2px var(--light);
  box-shadow: 0 0 0 2px var(--light);
}
.btn--t-w:hover {
  background-color: var(--light);
  color: var(--secondary);
  -webkit-box-shadow: 0 0 0 2px var(--light);
  box-shadow: 0 0 0 2px var(--light);
}
.btn--t-w:focus {
  outline: none;
  background-color: var(--light);
  color: var(--secondary);
  -webkit-box-shadow: 0 0 0 2px var(--light);
  box-shadow: 0 0 0 2px var(--light);
}

.arrow-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
}
.arrow-btn--big {
  width: 25px;
  height: 25px;
}

.big-phone {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  background-color: var(--primary);
  color: var(--light);
  font-weight: 700;
  padding: 15px 20px;
  -webkit-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
}
@media (max-width: 1440px) {
  .big-phone {
    padding: 0 15px;
  }
}
@media (max-width: 1024px) {
  .big-phone {
    padding: 15px 30px;
    border-radius: 5px;
  }
}
.big-phone:hover {
  background-color: var(--secondary);
  color: var(--light);
}
.big-phone__icon {
  display: block;
  width: 25px;
  height: 25px;
  fill: var(--light);
}
@media (max-width: 1440px) {
  .big-phone__icon {
    display: none;
  }
}
@media (max-width: 1024px) {
  .big-phone__icon {
    display: block;
  }
}

.nav {
  margin: 0 auto;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 25px;
  }
}
.nav__item:not(:last-child) {
  margin-right: 25px;
}
@media (max-width: 1440px) {
  .nav__item:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 1024px) {
  .nav__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.nav__link {
  color: var(--secondary);
  font-family: var(--font-title);
  font-weight: 600;
  font-size: 16px;
  position: relative;
  padding: 5px 10px;
}
@media (max-width: 1024px) {
  .nav__link {
    font-size: 22px;
    color: var(--light);
  }
}
.nav__link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0px;
  -webkit-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
}
.nav__link:hover::before {
  width: 100%;
  background-color: var(--secondary);
}

.burger {
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
    z-index: 10;
  }
}
.burger__icon {
  width: 36px;
  height: 28px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.burger__icon .line {
  width: 100%;
  height: 3px;
  position: relative;
  right: 0px;
  background-color: var(--primary);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.burger--active .line {
  width: 100%;
  background-color: var(--primary);
}
.burger--active .line:nth-child(1) {
  width: 100%;
  top: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger--active .line:nth-child(2) {
  width: 0;
}
.burger--active .line:nth-child(3) {
  width: 100%;
  top: -13px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu__title {
  display: none;
}
@media (max-width: 1024px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--darken);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    padding: 25px;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 10;
  }
  .menu__title {
    display: block;
    color: var(--light);
    margin-bottom: 35px;
  }
}
.menu--light {
  background: var(--light);
}
.menu--light .menu__title {
  color: var(--secondary);
}
.menu--active {
  opacity: 1;
  visibility: visible;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__item:not(:last-child) {
  margin-right: 15px;
}
.social__icon {
  display: block;
  width: 35px;
  height: 35px;
  fill: var(--primary);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: var(--light);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__hide {
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
}
.header__light {
  background-color: var(--light);
  -webkit-box-shadow: 0px 5px 30px rgba(0, 46, 109, 0.2);
  box-shadow: 0px 5px 30px rgba(0, 46, 109, 0.2);
}
.header__light .nav__link {
  color: var(--secondary);
}
.header__light .nav__link:hover::before {
  width: 100%;
  background-color: var(--secondary);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75px;
  padding: 0 0 0 50px;
}
@media (max-width: 1440px) {
  .header__container {
    padding: 0 0 0 15px;
  }
}
@media (max-width: 1024px) {
  .header__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px;
  }
}
.header__icon {
  display: block;
  width: 200px;
  height: 50px;
  fill: var(--primary);
}
@media (max-width: 1440px) {
  .header__icon {
    width: 170px;
  }
}
.header__social {
  margin-right: 20px;
}
@media (max-width: 1440px) {
  .header__social {
    margin-right: 10px;
  }
}
@media (max-width: 1024px) {
  .header__social {
    display: none;
  }
}
.header__social-mobile {
  display: none;
}
@media (max-width: 1024px) {
  .header__social-mobile {
    display: block;
    margin-bottom: 25px;
  }
}
@media (max-width: 1024px) {
  .header__phone {
    display: none;
  }
}
.header__phone-mobile {
  display: none;
}
@media (max-width: 1024px) {
  .header__phone-mobile {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0 auto 0 0;
  }
}

.hero {
  margin-bottom: 100px;
}
@media (max-width: 576px) {
  .hero {
    margin-bottom: 50px;
  }
}
.hero__container {
  width: 100%;
}
@media (max-width: 1440px) {
  .hero__container {
    padding: 0 50px;
  }
}
@media (max-width: 1024px) {
  .hero__container {
    padding: 0 25px;
  }
}
@media (max-width: 768px) {
  .hero__container {
    padding: 0 var(--container-offset);
  }
}
@media (max-width: 576px) {
  .hero__container {
    padding: 50px var(--container-offset) 0;
  }
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  color: var(--light);
}
.hero__wrapp {
  max-width: 1000px;
}
@media (max-width: 1440px) {
  .hero__wrapp {
    max-width: 800px;
  }
}
.hero__swiper {
  height: 900px;
}
@media (max-width: 1440px) {
  .hero__swiper {
    height: 700px;
  }
}
@media (max-width: 576px) {
  .hero__swiper {
    height: 600px;
  }
}
.hero__slide::after, .hero__slide::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.hero__slide::before {
  z-index: 1;
  background-color: #001c41;
  opacity: 0.25;
}
.hero__slide::after {
  z-index: 2;
  opacity: 0.75;
  background: -webkit-gradient(linear, left top, left bottom, from(#040f1b), color-stop(20%, #08111a), color-stop(65%, rgba(19, 22, 26, 0)), to(rgba(27, 26, 26, 0)));
  background: linear-gradient(to bottom, #040f1b 0%, #08111a 20%, rgba(19, 22, 26, 0) 65%, rgba(27, 26, 26, 0) 100%);
}
.hero__img {
  width: 100%;
  height: 100%;
}
.hero__title {
  margin-bottom: 15px;
}
.hero__subtitle {
  margin-bottom: 15px;
}
.hero__wrapp-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 576px) {
  .hero__wrapp-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .hero__btn {
    margin-right: auto;
  }
}
.hero__pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.works {
  margin-bottom: 100px;
}
@media (max-width: 576px) {
  .works {
    margin-bottom: 50px;
  }
}
.works__swiper {
  padding: 0 30px;
  margin-bottom: 50px;
}
.works__item {
  height: auto;
}
.works__pagination {
  position: relative;
  padding-top: 20px;
}
.works__pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.2509803922);
  box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.2509803922);
}
.card__desc-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-size: 16px;
  margin: auto 0;
}
.card__img {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0 0;
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 20px 20px;
}
.card__title {
  margin-bottom: 10px;
}
.card__i {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 15px;
  background-color: var(--primary);
  border-radius: 5px;
  color: var(--light);
}
.card__desc {
  margin-bottom: 10px;
}
.card__btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 40px;
  margin-top: auto;
}

.about {
  margin-bottom: 100px;
}
@media (max-width: 576px) {
  .about {
    margin-bottom: 50px;
  }
}
.about__wrapp {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin: 50px 0;
}
@media (max-width: 1024px) {
  .about__wrapp {
    gap: 0;
  }
}
@media (max-width: 768px) {
  .about__wrapp {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    margin: 25px 0;
  }
}
.about__img {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/span 2;
  width: 100%;
}
@media (max-width: 1024px) {
  .about__img {
    position: absolute;
    width: 350px;
    right: 25px;
    top: -30px;
  }
}
@media (max-width: 768px) {
  .about__img {
    display: none;
  }
}

.accordion--features {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/span 3;
}
@media (max-width: 1024px) {
  .accordion--features {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/span 4;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  .accordion--features {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
}
.accordion .ac {
  margin-top: 0;
  border: none;
  border-bottom: 1px solid #eee;
  background-color: transparent;
}
.accordion .ac__header {
  margin: 0;
  padding: 0;
}
.accordion .ac__title {
  color: var(--secondary);
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.accordion .ac__trigger {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
  padding: 20px 10px;
}
@media (max-width: 576px) {
  .accordion .ac__trigger {
    padding: 15px 7px;
  }
}
.accordion .ac__trigger svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 100%;
  fill: none;
  stroke: var(--light);
  stroke-linecap: round;
  stroke-width: 2px;
  rotate: 90deg;
  -webkit-transition: background-color 0.2s ease-in-out, rotate 0.2s ease-in-out, border 0.2s ease-in-out, stroke 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, rotate 0.2s ease-in-out, border 0.2s ease-in-out, stroke 0.2s ease-in-out;
}
.accordion .ac__trigger:hover {
  background-color: var(--secondary);
  border-radius: 5px;
}
.accordion .ac__trigger:hover .ac__title {
  color: var(--light);
}
.accordion .ac__trigger:hover svg {
  border: 2px solid var(--light);
  stroke: var(--light);
}
.accordion .ac__trigger:focus {
  outline: none;
}
.accordion .ac__trigger:focus-visible svg {
  border: 2px solid var(--dark);
  stroke: var(--dark);
  background-color: var(--accent);
}
.accordion .ac__panel {
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.accordion .ac__text {
  padding: 15px 35px 15px 10px;
}
@media (max-width: 576px) {
  .accordion .ac__text {
    padding: 5px 15px;
  }
}
.accordion .is-active .ac__trigger {
  background-color: var(--secondary);
  border-radius: 5px;
}
.accordion .is-active .ac__trigger svg {
  rotate: -90deg;
  border: 2px solid var(--light);
  stroke: var(--light);
}
.accordion .is-active .ac__title {
  color: var(--light);
}
.accordion .is-active .ac__panel {
  visibility: visible;
  background-color: var(--bg-color);
}

.promo {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .promo {
    padding: 0 15px;
  }
}
@media (max-width: 576px) {
  .promo {
    padding: 0 15px;
    margin-bottom: 50px;
  }
}
.promo__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 700px;
}
@media (max-width: 1440px) {
  .promo__wrapp {
    max-height: none;
  }
}
.promo__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--light);
  padding: 40px 60px;
  border-radius: 5px;
  width: 40%;
  z-index: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
@media (max-width: 1440px) {
  .promo__left {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .promo__left {
    width: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    padding: 25px;
  }
}
.promo__right {
  width: 60%;
}
@media (max-width: 768px) {
  .promo__right {
    display: none;
  }
}
.promo__img {
  height: 100%;
  width: 100%;
}
.promo__title {
  margin-bottom: auto;
}
@media (max-width: 1440px) {
  .promo__title {
    margin-bottom: 25px;
  }
}
.promo__subtitle {
  margin-bottom: 40px;
}
@media (max-width: 1440px) {
  .promo__subtitle {
    margin-bottom: 25px;
  }
}
.promo__btn {
  margin: auto auto 0 0;
}
@media (max-width: 768px) {
  .promo__btn-desk {
    display: none;
  }
}
.promo__btn-mob {
  display: none;
}
@media (max-width: 768px) {
  .promo__btn-mob {
    display: block;
  }
}

.gallery {
  margin-bottom: 100px;
  padding: 0 0 50px 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, rgb(0, 46, 109)), color-stop(80%, rgba(0, 46, 109, 0)));
  background: linear-gradient(0deg, rgb(0, 46, 109) 40%, rgba(0, 46, 109, 0) 80%);
}
@media (max-width: 576px) {
  .gallery {
    margin-bottom: 50px;
  }
}
.gallery__swiper {
  padding: 0 30px;
  margin-bottom: 50px;
}
.gallery__slide {
  position: relative;
  height: 450px;
}
@media (max-width: 1440px) {
  .gallery__slide {
    height: 350px;
  }
}
.gallery__card {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.gallery__card:hover .gallery__img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
@media (max-width: 1024px) {
  .gallery__card:hover .gallery__img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.gallery__img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.gallery__description {
  position: absolute;
  top: 50px;
  left: 50px;
  visibility: hidden;
  opacity: 0;
  background-color: var(--secondary);
  color: var(--light);
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
  border-radius: 5px;
  line-height: 18px;
  font-weight: 600;
  padding: 15px 20px;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@media (max-width: 1024px) {
  .gallery__description {
    top: 25px;
    left: 25px;
  }
}
@media (max-width: 768px) {
  .gallery__description {
    font-weight: 400;
    padding: 10px 15px;
  }
}
@media (max-width: 576px) {
  .gallery__description {
    font-size: 14px;
    top: 10px;
    left: 10px;
  }
}
.gallery__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  color: var(--light);
  border-radius: 5px;
}
@media (max-width: 576px) {
  .gallery__bottom {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
}
.gallery__subtitle {
  margin-bottom: 15px;
}
.gallery__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.service {
  margin-bottom: 100px;
}
@media (max-width: 576px) {
  .service {
    margin-bottom: 50px;
  }
}
.service__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 250px 30px 250px 30px 250px;
  grid-template-rows: repeat(3, 250px);
  gap: 30px;
  grid-template-areas: "a c c" "b d e" "b f g";
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .service__list {
    gap: 15px;
    -ms-grid-rows: 250px 15px 250px 15px 250px 15px 250px;
    grid-template-rows: repeat(4, 250px);
    grid-template-areas: "a b b" "c c d" "e f f" "g g g";
  }
}
@media (max-width: 768px) {
  .service__list {
    grid-template-areas: "a b b" "c c d" "f e e" "g g g";
  }
}
@media (max-width: 576px) {
  .service__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 2em (200px)[6];
    grid-template-rows: 2em repeat(6, 200px);
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
  }
}
.service__item {
  position: relative;
  padding: 25px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .service__item {
    padding: 15px;
  }
}
.service__item.a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}
@media (max-width: 1024px) {
  .service__item.a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .service__item.a {
    padding: 0 0 0 0px;
  }
}
.service__item.b {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: b;
  background-image: url(../img/service/stroitelstvo-2.webp);
}
.service__item.c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: c;
  background-image: url(../img/service/prodazha.webp);
}
.service__item.d {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: d;
  background-image: url(../img/service/podbor.webp);
}
.service__item.e {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: e;
  background-image: url(../img/service/proyektirovaniye.webp);
}
.service__item.f {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: f;
  background-image: url(../img/service/3d.webp);
}
.service__item.g {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: g;
  background-image: url(../img/service/chistovaya-otdelka-2.webp);
}
@media (max-width: 1024px) {
  .service__item.a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .service__item.b {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
  .service__item.c {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .service__item.d {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .service__item.e {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .service__item.f {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
  .service__item.g {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }
}
@media (max-width: 768px) {
  .service__item.a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .service__item.b {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  .service__item.c {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .service__item.d {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .service__item.e {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  .service__item.f {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .service__item.g {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media (max-width: 576px) {
  .service__item.a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .service__item.b {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .service__item.c {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .service__item.d {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .service__item.e {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .service__item.f {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .service__item.g {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}
.service__desc {
  position: absolute;
  background-color: var(--light);
  color: var(--secondary);
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 1;
  bottom: 15px;
  left: 15px;
  max-width: calc(100% - 30px);
}
.service__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  background-color: var(--primary);
  color: var(--light);
  padding: 25px;
  border-radius: 5px;
}
@media (max-width: 576px) {
  .service__bottom {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
}
.service__subtitle {
  margin-bottom: 15px;
}
.service__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.service__item:not(:first-child):after {
  content: "";
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, left bottom, from(#040f1b), color-stop(20%, #08111a), color-stop(65%, rgba(19, 22, 26, 0)), to(rgba(27, 26, 26, 0)));
  background: linear-gradient(to bottom, #040f1b 0%, #08111a 20%, rgba(19, 22, 26, 0) 65%, rgba(27, 26, 26, 0) 100%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 5px;
}

.form__label {
  position: relative;
  margin-bottom: 25px;
}
.form__input {
  width: 100%;
  border-radius: 5px;
  padding: 15px 15px;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 600;
  background-color: var(--light);
  border: 1px solid #fff;
  color: var(--secondary);
  -webkit-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
}
.form__input:hover {
  border: 1px solid var(--secondary);
}
.form__input:focus {
  outline: none;
  border: 1px solid var(--secondary);
}
.form ::-webkit-input-placeholder {
  color: var(--secondary);
}
.form ::-moz-placeholder {
  color: var(--secondary);
}
.form :-ms-input-placeholder {
  color: var(--secondary);
}
.form ::-ms-input-placeholder {
  color: var(--secondary);
}
.form ::placeholder {
  color: var(--secondary);
}
.form__btn {
  margin: 0 auto 0 0;
  padding: 15px 40px;
}
.form .just-validate-error-label {
  position: absolute;
  bottom: 40px;
  left: 10px;
  font-size: 14px;
  background: #ff5050;
  color: #fff !important;
  padding: 0px 10px;
  border-radius: 10px;
}

.stage {
  margin-bottom: 100px;
  padding: 80px 0;
  background-image: url(../img/house.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
@media (max-width: 1024px) {
  .stage {
    padding: 60px 0;
  }
}
@media (max-width: 576px) {
  .stage {
    margin-bottom: 50px;
  }
}
.stage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: rgb(0, 46, 109);
}
.stage__title {
  color: var(--light);
  margin-bottom: 25px;
}
.stage__grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}
@media (max-width: 1024px) {
  .stage__grid {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
.stage__desc {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  padding: 0 60px 40px 60px;
}
@media (max-width: 1440px) {
  .stage__desc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
  }
}
@media (max-width: 1024px) {
  .stage__desc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 0 60px 0px 60px;
  }
}
@media (max-width: 768px) {
  .stage__desc {
    padding: 0 15px 0px 15px;
  }
}
.stage__pagination {
  position: static;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
@media (max-width: 1024px) {
  .stage__pagination {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 576px) {
  .stage__pagination {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
.stage__pagination-item {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: var(--font-title);
  font-size: 22px;
  width: 110px;
  height: 50px;
  color: var(--light);
  background-color: transparent;
  padding: 10px;
  margin: 0 !important;
  opacity: 1;
  -webkit-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
}
@media (max-width: 576px) {
  .stage__pagination-item {
    font-size: 16px;
    width: 85px;
    height: 35px;
    margin: 0 auto !important;
  }
}
.stage__pagination-item::before {
  content: "";
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary);
  border-radius: 5px;
  z-index: -1;
  -webkit-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
}
.stage__pagination-item.swiper-pagination-bullet-active {
  color: var(--primary);
}
.stage__pagination-item.swiper-pagination-bullet-active .stage__pagination-text {
  color: var(--primary);
}
.stage__pagination-item.swiper-pagination-bullet-active::before {
  background-color: var(--light);
  width: 100%;
}
.stage__pagination-item:hover {
  color: var(--primary);
}
.stage__pagination-item:hover .stage__pagination-text {
  color: var(--primary);
}
.stage__pagination-item:hover::before {
  background-color: var(--light);
  width: 100%;
}
.stage__pagination-text {
  position: absolute;
  font-size: 20px;
  font-family: var(--font-title);
  left: 45px;
  color: var(--light);
  -webkit-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
}
@media (max-width: 576px) {
  .stage__pagination-text {
    left: 35px;
    font-size: 16px;
  }
}
.stage__swiper {
  position: relative;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/span 4;
  width: 100%;
  height: 500px;
}
@media (max-width: 1440px) {
  .stage__swiper {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/span 3;
    height: 450px;
  }
}
@media (max-width: 1024px) {
  .stage__swiper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
    -ms-grid-row: 2;
    grid-row: 2;
    height: 300px;
  }
}
.stage__slide {
  border-radius: 5px 0 0 5px;
}
@media (max-width: 1024px) {
  .stage__slide {
    border-radius: 0;
  }
}
.stage__slide:after {
  content: "";
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, left bottom, from(#040f1b), color-stop(20%, #08111a), color-stop(65%, rgba(19, 22, 26, 0)), to(rgba(27, 26, 26, 0)));
  background: linear-gradient(to bottom, #040f1b 0%, #08111a 20%, rgba(19, 22, 26, 0) 65%, rgba(27, 26, 26, 0) 100%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 5px 0 0 5px;
}
@media (max-width: 1024px) {
  .stage__slide:after {
    border-radius: 0;
  }
}
.stage__slide.swiper-slide-active .stage__content {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
.stage__content {
  position: absolute;
  top: 25px;
  left: 25px;
  margin-right: 25px;
  background-color: var(--light);
  color: var(--primary);
  padding: 10px 25px;
  border-radius: 5px;
  z-index: 1;
  -webkit-transform: translate(30px, 20px);
  -ms-transform: translate(30px, 20px);
  transform: translate(30px, 20px);
  opacity: 0;
  -webkit-transition: all 500ms linear 0ms;
  transition: all 500ms linear 0ms;
}

.advantages {
  margin-bottom: 100px;
}
@media (max-width: 576px) {
  .advantages {
    margin-bottom: 50px;
  }
}
.advantages__wrapp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  position: relative;
}
@media (max-width: 1440px) {
  .advantages__wrapp {
    background-image: url(../img/house-33-1440.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.advantages__wrapp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: rgb(0, 46, 109);
}
@media (max-width: 1440px) {
  .advantages__wrapp {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 1024px) {
  .advantages__wrapp {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    background-image: none;
  }
}
.advantages__right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/span 4;
  background-color: var(--primary);
  color: var(--light);
  padding: 40px 60px;
  border-radius: 5px;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
@media (max-width: 1440px) {
  .advantages__right {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/span 6;
    padding: 20px 30px;
  }
}
@media (max-width: 1024px) {
  .advantages__right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
    padding: 20px 40px;
  }
}
@media (max-width: 576px) {
  .advantages__right {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    padding: 25px 15px;
  }
}
.advantages__left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
}
@media (max-width: 1440px) {
  .advantages__left {
    display: none;
  }
}
.advantages__item:not(:last-child) {
  margin-bottom: 15px;
}
.advantages__card {
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 5px;
  color: var(--secondary);
  background-size: 75px;
  background-repeat: no-repeat;
  padding: 25px 25px 25px 125px;
  background-position: 25px center;
}
@media (max-width: 576px) {
  .advantages__card {
    background-size: 50px;
    padding: 90px 15px 25px 15px;
    background-position: center 20px;
  }
}
.advantages__card:not(:last-child) {
  margin-bottom: 15px;
}
.advantages__card:nth-child(1) {
  background-image: url(../img/svg/10age.svg);
}
.advantages__card:nth-child(2) {
  background-image: url(../img/svg/snip.svg);
}
.advantages__card:nth-child(3) {
  background-image: url(../img/svg/camera.svg);
}
.advantages__card:nth-child(4) {
  background-image: url(../img/svg/control.svg);
}
.advantages__card:nth-child(5) {
  background-image: url(../img/svg/5age.svg);
}
.advantages__card:nth-child(6) {
  background-image: url(../img/svg/50home.svg);
}
.advantages__card:nth-child(7) {
  background-image: url(../img/svg/24.svg);
}
.advantages__card-title {
  margin-bottom: 5px;
}
@media (max-width: 576px) {
  .advantages__card-title {
    text-align: center;
  }
}
.advantages__card-text {
  font-size: 16px;
}
@media (max-width: 576px) {
  .advantages__card-text {
    text-align: center;
  }
}

.pay {
  margin-bottom: 100px;
}
@media (max-width: 576px) {
  .pay {
    margin-bottom: 50px;
  }
}
.pay__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (250px)[2];
  grid-template-rows: repeat(2, 250px);
  gap: 50px;
}
@media (max-width: 576px) {
  .pay__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (150px)[3];
    grid-template-rows: repeat(3, 150px);
  }
}
.pay__card {
  position: relative;
  padding: 25px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--secondary);
}
.pay__card:first-child {
  background-image: url(../img/service/nal.webp);
}
@media (max-width: 576px) {
  .pay__card:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
}
.pay__card:nth-child(2) {
  background-image: url(../img/service/bez-nal.webp);
}
@media (max-width: 576px) {
  .pay__card:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
}
.pay__card:last-child {
  background-image: url(../img/service/222.webp);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
}
.pay__card::before {
  content: "";
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, left bottom, from(#040f1b), color-stop(20%, #08111a), color-stop(65%, rgba(19, 22, 26, 0)), to(rgba(27, 26, 26, 0)));
  background: linear-gradient(to bottom, #040f1b 0%, #08111a 20%, rgba(19, 22, 26, 0) 65%, rgba(27, 26, 26, 0) 100%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 5px;
  position: absolute;
}
.pay__desc {
  position: relative;
  display: inline-block;
  background-color: var(--light);
  border-radius: 5px;
  padding: 10px 15px;
}

.contacts {
  position: relative;
  padding: 80px 0;
}
@media (max-width: 1024px) {
  .contacts {
    padding: 40px 0;
  }
}
.contacts__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  gap: 30px;
}
@media (max-width: 1024px) {
  .contacts__container {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 768px) {
  .contacts__container {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 576px) {
  .contacts__container {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
.contacts__title {
  color: var(--light);
}
.contacts__content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px;
  background-color: var(--primary);
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .contacts__content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
  }
}
@media (max-width: 576px) {
  .contacts__content {
    background-color: rgba(55, 190, 117, 0.8);
  }
}
.contacts__list {
  margin-bottom: 35px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}
.contacts__name {
  display: block;
  color: var(--light);
}
.contacts__adress {
  font-weight: 600;
  color: var(--lighten);
}
.contacts__link {
  color: var(--lighten);
  font-weight: 600;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
}

.footer {
  background-color: var(--secondary);
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
@media (max-width: 1024px) {
  .footer__container {
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  .footer__logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
}
@media (max-width: 768px) {
  .footer__logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
    margin: 0 auto;
  }
}
.footer__logo-icon {
  display: block;
  width: 250px;
  height: 60px;
  fill: var(--light);
}
.footer__contacts-wrapp {
  margin-left: auto;
}
@media (max-width: 1024px) {
  .footer__contacts-wrapp {
    -ms-grid-column: 1;
    grid-column: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .footer__contacts-wrapp {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
    margin: 0 auto;
  }
}
.footer__contacts {
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .footer__contacts {
    display: none;
  }
}
.footer__contacts-item:not(:last-child) {
  margin-bottom: 5px;
}
.footer__link {
  color: var(--light);
  font-family: var(--font-title);
  font-weight: 600;
  font-size: 16px;
  position: relative;
  padding: 5px 0px;
}
.footer__title {
  color: var(--light);
  margin-bottom: 15px;
}
.footer__nav {
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .footer__nav {
    margin: 0 0 0 0;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/span 2;
  }
}
@media (max-width: 768px) {
  .footer__nav {
    display: none;
  }
}
.footer__nav-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  width: 300px;
}
.footer__nav-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__nav-link {
  color: var(--light);
  font-family: var(--font-title);
  font-weight: 600;
  font-size: 16px;
  position: relative;
  padding: 5px 0px;
}
.footer__nav-link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0px;
  -webkit-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
}
.footer__nav-link:hover::before {
  width: 100%;
  background-color: var(--primary);
}

.graph-modal__container {
  max-width: 500px;
  padding: 30px;
  background-color: var(--light);
  background-color: var(--secondary);
  color: var(--light);
  border-radius: 5px;
}
@media (max-width: 576px) {
  .graph-modal__container {
    padding: 20px;
  }
}
.graph-modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.graph-modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  background-size: 25px;
  background-image: url(../img/svg/close.svg);
}
.graph-modal__title {
  margin-bottom: 20px;
}
.graph-modal__text {
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */