<section class="advantages">
  <!-- <div class="container">
    <h2 class="title title-section">Преимущества</h2>
    <ul>
      <li>
        <article>
          <h3>ОПЫТ ЗАГОРОДНОГО СТРОИТЕЛЬСТВА БОЛЕЕ 10 ЛЕТ</h3>
          <p>Наша компания обладает обширным опытом в загородном строительстве более 10 лет, что позволяет нам
            гарантировать высокое качество и профессиональный подход к каждому проекту</p>
        </article>
      </li>
      <li>
        <article>
          <h3>СТРОИТЕЛЬСТВО ПО СНИП</h3>
          <p>Мы осуществляем строительство согласно требованиям СНиП, обеспечивая безопасность, надежность и
            соответствие
            высоким стандартам качества в каждом проекте.</p>
        </article>
      </li>
      <li>
        <article>
          <h3>КОНТРОЛЬ СТРОИТЕЛЬНЫХ РАБОТ НА КАЖДОМ ЭТАПЕ СТРОИТЬСТВА</h3>
          <p>Мы осуществляем тщательный контроль строительных работ на каждом этапе строительства, гарантируя высокое
            качество и соответствие всем спецификациям и требованиям проекта</p>
        </article>
      </li>
      <li>
        <article>
          <h3>ГАРАНТИЯ ОТ 5 ЛЕТ</h3>
          <p>Мы предоставляем гарантию на наши работы в течение 5 лет, что подчеркивает наше стремление к долгосрочным
            отношениям с клиентами и уверенность в качестве предоставляемых услуг</p>
        </article>
      </li>
      <li>
        <article>
          <h3>50+ ПОСТОРОЕННЫХ ДОМОВ ПО РТ</h3>
          <p>Наш опыт в строительстве подтверждается более чем 50 успешно построенными домами, соответствующими
            требованиям и нормативам строительства, предусмотренным в Республиканских требованиях</p>
        </article>
      </li>
      <li>
        <article>
          <h3>ПЕРСОНАЛЬНЫЙ МЕНЕДЖЕР ПОД ВАШ ПРОЕКТ 24/7</h3>
          <p>Каждому проекту назначается персональный менеджер, доступный 24/7, гарантируя индивидуальное внимание и
            оперативную поддержку на всех этапах реализации проекта</p>
        </article>
      </li>
    </ul>
  </div> -->
  <div class="advantages__wrapp">

    <div class="advantages__left">
      <picture>
        <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
        <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
        <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
        <img loading="lazy" src="img/banner/img-8.webp" class="promo__img img" height="500" alt="">
      </picture>
    </div>
    <div class="advantages__right">
      <h2 class="advantages__title title title--section">Преимущества</h2>
      <ul class="advantages__list">

        <li class="advantages__card">
          <h3 class="advantages__card-title">ОПЫТ ЗАГОРОДНОГО СТРОИТЕЛЬСТВА БОЛЕЕ 10 ЛЕТ</h3>
          <p class="advantages__card-text">Наша компания обладает обширным опытом в загородном строительстве более 10
            лет, что позволяет нам
            гарантировать высокое качество и профессиональный подход к каждому проекту</p>
        </li>

        <li class="advantages__card">
          <h3 class="advantages__card-title">СТРОИТЕЛЬСТВО ПО СНИП</h3>
          <p class="advantages__card-text">Мы осуществляем строительство согласно требованиям СНиП, обеспечивая
            безопасность, надежность и
            соответствие
            высоким стандартам качества в каждом проекте.</p>
        </li>

        <li class="advantages__card">
          <h3 class="advantages__card-title">ОНЛАЙН ТРАНСЛЯЦИЯ ХОДА СТРОИТЕЛЬСТВА ВАШЕГО ДОМА</h3>
          <p class="advantages__card-text">Мы предоставляем возможность онлайн трансляции хода строительства вашего
            дома, чтобы вы могли в режиме реального времени отслеживать все этапы работ, даже находясь вдали от
            стройплощадки</p>
        </li>
        <li class="advantages__card">
          <h3 class="advantages__card-title">КОНТРОЛЬ СТРОИТЕЛЬНЫХ РАБОТ НА КАЖДОМ ЭТАПЕ СТРОИТЬСТВА</h3>
          <p class="advantages__card-text">Мы осуществляем тщательный контроль строительных работ на каждом этапе
            строительства, гарантируя высокое
            качество и соответствие всем спецификациям и требованиям проекта</p>
        </li>

        <li class="advantages__card">
          <h3 class="advantages__card-title">ГАРАНТИЯ ОТ 5 ЛЕТ</h3>
          <p class="advantages__card-text">Мы предоставляем гарантию на наши работы в течение 5 лет, что подчеркивает
            наше стремление к долгосрочным
            отношениям с клиентами и уверенность в качестве предоставляемых услуг</p>
        </li>

        <li class="advantages__card">
          <h3 class="advantages__card-title">50+ ПОСТОРОЕННЫХ ДОМОВ ПО РТ</h3>
          <p class="advantages__card-text">Наш опыт в строительстве подтверждается более чем 50 успешно построенными
            домами, соответствующими
            требованиям и нормативам строительства, предусмотренным в Республиканских требованиях</p>
        </li>

        <li class="advantages__card">
          <h3 class="advantages__card-title">ПЕРСОНАЛЬНЫЙ МЕНЕДЖЕР ПОД ВАШ ПРОЕКТ 24/7</h3>
          <p class="advantages__card-text">Каждому проекту назначается персональный менеджер, доступный 24/7,
            гарантируя индивидуальное внимание и
            оперативную поддержку на всех этапах реализации проекта</p>
        </li>
      </ul>
    </div>
  </div>
</section>