<section class="contacts" id="contacts">
  <div class="map" id="map"></div>

  <div class="contacts__container container">
    <div class="contacts__content" data-aos="fade-right" data-aos-delay="100">
      <h2 class="contacts__title title title--section">Контакты</h2>

      <ul class="contacts__list">
        <li class="contacts__item">
          <span class="contacts__name title">Наш телефон:</span>
          <a href="tel:+79934092028" class="contacts__link">+7 993 409-20-28</a>
        </li>
        <li class="contacts__item">
          <span class="contacts__name title">На почта:</span>
          <a href="mailto:info@internet.ru" class="contacts__link">info@internet.ru</a>
        </li>
        <li class="contacts__item">
          <span class="contacts__name title">Наш адрес:</span>
          <p class="contacts__adress">Набережные Челны, Академика Королёва, 2<br>2 этаж, офис №213</p>
        </li>
      </ul>

      <ul class="contacts__social social" title="">
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в telegram">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в whatsapp">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>