<footer class="footer">
  <div class="footer__container container">
    <div class="" data-aos="fade-up">
      <a href="#" class="footer__logo">
        <svg class="footer__logo-icon">
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </a>
    </div>

    <div class="footer__nav " data-aos="fade-up" data-aos-delay="100">
      <h3 class="footer__title title">Разделы</h3>
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a href="#catalog" class="footer__nav-link" data-scroll aria-label="Каталог">Каталог</a>
        </li>
        <li class="footer__nav-item">
          <a href="#about" class="footer__nav-link" data-scroll aria-label="компании">О компании</a>
        </li>
        <li class="footer__nav-item">
          <a href="#lizing" class="footer__nav-link" data-scroll aria-label="Лизинг">Лизинг</a>
        </li>
        <li class="footer__nav-item">
          <a href="#project" class="footer__nav-link" data-scroll aria-label="Наши проекты">Наши
            проекты</a>
        </li>
        <li class="footer__nav-item">
          <a href="#reviews" class="footer__nav-link" data-scroll aria-label="Отзывы">Отзывы</a>
        </li>
      </ul>
    </div>
    <div class="footer__contacts-wrapp" data-aos="fade-up" data-aos-delay="250">
      <ul class="footer__contacts">
        <li class="footer__contacts-item">
          <a class="footer__link" href="tel:+79990000099" aria-label="Наш телефон">+7 (951) 000-91-48</a>
        </li>
        <li class="footer__contacts-item">
          <a class="footer__link" href="mailto:index@mail.ru" aria-label="Наша почта">index@mail.ru
          </a>
        </li>
      </ul>

      <ul class="footer__social social" title="Социальные сети">
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в telegram">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в whatsapp">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>