<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="title title--section" data-aos="fade-right" data-aos-delay="250">Наши проекты</h2>
  </div>


  <div class="gallery__swiper swiper swiper--gallery">
    <div class="swiper-wrapper ">
      <div class="gallery__slide swiper-slide">
        <a data-fancybox="gallery-M98" class="gallery__card" href="img/gallery/М98/М98-01.webp" data-caption="">
          <img class="gallery__img" src="img/gallery/М98/М98-humbs.webp" alt="Проект готового дома М98 под ключ">
          <span class="gallery__description">М98</span>
        </a>
        <div style="display:none">
          <a data-fancybox="gallery-M98" href="img/gallery/М98/М98-02.webp"> </a>
          <a data-fancybox="gallery-M98" href="img/gallery/М98/М98-03.webp"> </a>
          <a data-fancybox="gallery-M98" href="img/gallery/М98/М98-04.webp"> </a>
          <a data-fancybox="gallery-M98" href="img/gallery/М98/М98-05.webp"> </a>
        </div>
      </div>

      <div class="gallery__slide swiper-slide">
        <a data-fancybox="gallery-m98-2" class="gallery__card" href="img/gallery/m98-2/m98-2-01.webp" data-caption="">
          <img class="gallery__img" src="img/gallery/m98-2/m98-2-humbs.webp" alt="Проект готового дома М98-2 под ключ">
          <span class="gallery__description">М98-2</span>
        </a>
        <div style="display:none">
          <a data-fancybox="gallery-m98-2" href="img/gallery/m98-2/m98-2-02.webp"> </a>
          <a data-fancybox="gallery-m98-2" href="img/gallery/m98-2/m98-2-03.webp"> </a>
          <a data-fancybox="gallery-m98-2" href="img/gallery/m98-2/m98-2-04.webp"> </a>
          <a data-fancybox="gallery-m98-2" href="img/gallery/m98-2/m98-2-05.webp"> </a>
        </div>
      </div>

      <div class="gallery__slide swiper-slide">
        <a data-fancybox="gallery-K107" class="gallery__card" href="img/gallery/K107/K107-1.webp" data-caption="">
          <img class="gallery__img" src="img/gallery/K107/K107-humbs.webp" alt="Проект готового дома K107 под ключ">
          <span class="gallery__description">K107</span>
        </a>
        <div style="display:none">
          <a data-fancybox="gallery-K107" href="img/gallery/K107/K107-2.webp"> </a>
          <a data-fancybox="gallery-K107" href="img/gallery/K107/K107-3.webp"> </a>
          <a data-fancybox="gallery-K107" href="img/gallery/K107/K107-4.webp"> </a>
          <a data-fancybox="gallery-K107" href="img/gallery/K107/K107-5.webp"> </a>
          <a data-fancybox="gallery-K107" href="img/gallery/K107/K107-6.webp"> </a>
        </div>
      </div>

      <div class="gallery__slide swiper-slide">
        <a data-fancybox="gallery-K150" class="gallery__card" href="img/gallery/K150/K150-1.webp" data-caption="">
          <img class="gallery__img" src="img/gallery/K150/K150-humbs.webp" alt="Проект готового дома K150 под ключ">
          <span class="gallery__description">K150</span>
        </a>
        <div style="display:none">
          <a data-fancybox="gallery-K150" href="img/gallery/K150/K150-2.webp"> </a>
          <a data-fancybox="gallery-K150" href="img/gallery/K150/K150-3.webp"> </a>
          <a data-fancybox="gallery-K150" href="img/gallery/K150/K150-4.webp"> </a>
          <a data-fancybox="gallery-K150" href="img/gallery/K150/K150-5.webp"> </a>
          <a data-fancybox="gallery-K150" href="img/gallery/K150/K150-6.webp"> </a>
          <a data-fancybox="gallery-K150" href="img/gallery/K150/K150-7.webp"> </a>
          <a data-fancybox="gallery-K150" href="img/gallery/K150/K150-8.webp"> </a>
        </div>
      </div>

      <div class="gallery__slide swiper-slide">
        <a data-fancybox="gallery-K140" class="gallery__card" href="img/gallery/K140/K140-1.webp" data-caption="">
          <img class="gallery__img" src="img/gallery/K140/K140-humbs.webp" alt="Проект готового дома K140 под ключ">
          <span class="gallery__description">K140</span>
        </a>
        <div style="display:none">
          <a data-fancybox="gallery-K140" href="img/gallery/K140/K140-2.webp"> </a>
          <a data-fancybox="gallery-K140" href="img/gallery/K140/K140-3.webp"> </a>
          <a data-fancybox="gallery-K140" href="img/gallery/K140/K140-4.webp"> </a>
          <a data-fancybox="gallery-K140" href="img/gallery/K140/K140-5.webp"> </a>
          <a data-fancybox="gallery-K140" href="img/gallery/K140/K140-6.webp"> </a>
          <a data-fancybox="gallery-K140" href="img/gallery/K140/K140-7.webp"> </a>
        </div>
      </div>


    </div>
  </div>
  <div class="container">
    <div class="gallery__bottom">
      <div class="gallery__content" data-aos="fade-up" data-aos-delay="150">
        <h3 class="gallery__subtitle title title--medium">Не нашли нужный проект?</h3>
        <p>Заполните форму обратного звонка и&nbsp;наши специалисты свяжутся с&nbsp;Вами и подберут проект
          индивидуально!</p>
      </div>

      <form action="#" class="gallery__form form form--gallery" data-aos="fade-up" data-aos-delay="250">
        <label class="form__label">
          <input type="text" name="name" class="input-reset form__input input-name" placeholder="Имя">
        </label>
        <label class="form__label">
          <input type="tel" name="phone" class="input-reset form__input input-tel" placeholder="Телефон">
        </label>
        <button class="btn btn--g-w form__btn">
          <span>Отправить</span>
          <svg class="arrow-btn arrow-btn--big">
            <use xlink:href="img/sprite.svg#svgexport-18"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>