<section class="gallery">
  <div class="container">
    <h2 class="gallery__title title title--section">Наши проекты</h2>
  </div>
  <div class="gallery__swiper swiper swiper--gallery">
    <div class="swiper-wrapper ">

      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-1.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-1.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>

      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-2.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-2.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-3.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-3.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-4.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-4.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-5.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-5.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-6.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-6.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-7.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-7.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-8.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-8.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-9.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-9.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="gallery__bottom">
      <div class="gallery__content">
        <h3 class="title title--medium">Не нашли нужный проект?</h3>
        <p>Заполните форму обратного звонка и&nbsp;наши специалисты свяжутся с&nbsp;Вами и подберут проект
          индивидуально!</p>
      </div>

      <form action="#" class="gallery__form form">
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="Имя">
        </label>
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="Телефон">
        </label>
        <button class="btn btn--g-w form__btn">
          <span>Отправить</span>
          <svg class="arrow-btn arrow-btn--big">
            <use xlink:href="img/sprite.svg#svgexport-18"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>