<section class="gallery">
  <div class="container">
    <h2 class="gallery__title title title--section">Наши работы</h2>
  </div>
  <div class="gallery__swiper swiper swiper--gallery">
    <div class="swiper-wrapper ">

      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-1.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-1.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>

      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-2.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-2.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-3.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-3.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-4.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-4.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-5.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-5.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-6.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-6.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-7.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-7.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-8.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-8.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>
      <div class="gallery__slide swiper-slide">
        <a class="gallery__card" href="img/banner/img-9.webp" data-fancybox data-caption="testCaption">
          <img class="gallery__img" src="img/banner/img-9.webp" alt="Наш проект">
          <span class="gallery__description">Test text</span>
        </a>
      </div>

    </div>
  </div>
</section>