<header class="header">
  <div class="header__container ">
    <a class="header__logo" href="#">
      <svg class="header__icon">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>

    <nav class="nav menu " title="Навигация" data-menu>
      <h2 class="menu__title title title--section">Меню</h2>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#about" class="nav__link" data-menu-item data-scroll>О компании</a>
        </li>
        <li class="nav__item">
          <a href="#works" class="nav__link" data-menu-item data-scroll>Наши работы</a>
        </li>
        <li class="nav__item">
          <a href="#service" class="nav__link" data-menu-item data-scroll>Услуги</a>
        </li>
        <li class="nav__item">
          <a href="#gallery" class="nav__link" data-menu-item data-scroll>Проекты</a>
        </li>
      </ul>

      <div class="header__social-mobile">
        <ul class="social" title="Социальные сети">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в Фейсбуке">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg></a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Наша страничка во Вконтакте">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg></a>
          </li>
        </ul>
      </div>

      <div class="header__phone-mobile">
        <a href="tel:+79001111111" class="big-phone" aria-label="Наш телефон">
          <svg class="big-phone__icon">
            <use xlink:href="img/sprite.svg#phone-def"></use>
          </svg>
          <span>+7 (999) 555-22-00</span>
        </a>
      </div>
    </nav>

    <ul class="header__social social" title="Социальные сети">
      <li class="social__item">
        <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в Фейсбуке">
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg></a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link" aria-label="Наша страничка во Вконтакте">
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg></a>
      </li>
    </ul>

    <a href="tel:+79001111111" class="header__phone big-phone" aria-label="Наш телефон">
      <svg class="big-phone__icon">
        <use xlink:href="img/sprite.svg#phone-def"></use>
      </svg>
      <span>+7 (999) 555-22-00</span>
    </a>

    <button class="header__burger burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger="">
      <span class="burger__icon"><span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </span>
    </button>

  </div>
</header>