<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="http://">
        <img src="img/2.svg" alt="">
      </a>
    </div>
    <nav class="nav">
      <ul class="nav__list" style="display: flex;">
        <li class="nav__item"><a href="#about" class="nav__link" data-menu-item data-scroll>О компании</a></li>
        <li class="nav__item"><a href="#about" class="nav__link" data-menu-item data-scroll>О компании</a></li>
        <li class="nav__item"><a href="#about" class="nav__link" data-menu-item data-scroll>О компании</a></li>
        <li class="nav__item"><a href="#about" class="nav__link" data-menu-item data-scroll>О компании</a></li>
      </ul>
    </nav>
    <ul style="display: flex;">
      <li>phone</li>
      <li>mail</li>
      <li>whats</li>
      <li>telegram</li>
    </ul>

  </div>
</header>