<section class="hero">

  <div class="swiper swiper--hero">

    <div class="swiper-wrapper">

      <div class="hero__slide swiper-slide">
        <picture>
          <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
          <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
          <img loading="lazy" src="img/banner/Roofing-21.webp" class="hero__img img" height="700" alt="">
        </picture>

        <div class="hero__content ">
          <div class="hero__container container">
            <div class="tr">
              <h2 class="hero__title title">Saic Iveco Hongyan Создан для надёжности</h2>
              <p class="hero__subtitle subtitle"> Откройте для себя непревзойдённую долговечность Saik Iveco Hongyan</p>
              <button class="btn btn-reset">Получить предложение</button>
              <button class="btn btn-reset">Получить предложение</button>
            </div>
          </div>
        </div>
      </div>

      <div class="hero__slide swiper-slide">
        <picture>
          <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
          <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
          <img loading="lazy" src="img/banner/Roofing-9.webp" class="hero__img img" height="700" alt="">
        </picture>

        <div class="hero__content ">
          <div class="hero__container container">
            <div class="tr">
              <h2 class="hero__title title">Saic Iveco Hongyan Создан для надёжности</h2>
              <p class="hero__subtitle subtitle"> Откройте для себя непревзойдённую долговечность Saik Iveco Hongyan</p>
              <button class="btn btn-reset">Получить предложение</button>
              <button class="btn btn-reset">Получить предложение</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>