<section class="hero">

  <div class="hero__swiper swiper swiper--hero">

    <div class="swiper-wrapper">

      <div class="hero__slide swiper-slide">
        <picture>
          <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
          <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
          <img loading="lazy" src="img/banner/img-6.webp" class="hero__img img" height="700" alt="">
        </picture>

        <div class="hero__content ">
          <div class="hero__container container">
            <div class="hero__wrapp">
              <p class="hero__subtitle subtitle">Our Group is recognized as one of the World</p>
              <h2 class="hero__title title title--hero">Providing The Best Roofing Services</h2>
              <p class="hero__subtitle subtitle">Our Group is recognized as one of the World's leading Industry
                Corporation serving an impressive list of long-term clients with experience and expertise.</p>
              <div class="hero__wrapp-btn">
                <a href="#gallery" class="hero__btn btn btn--g-w" data-menu-item data-scroll>
                  <span>Посмотреть проекты</span>
                  <svg class="arrow-btn">
                    <use xlink:href="img/sprite.svg#arrow-m"></use>
                  </svg>
                </a>
                <a href="#about" class="hero__btn btn btn--w-g" data-menu-item data-scroll>О компании
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hero__slide swiper-slide">
        <picture>
          <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
          <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
          <img loading="lazy" src="img/banner/img-7.webp" class="hero__img img" height="700" alt="">
        </picture>

        <div class="hero__content ">
          <div class="hero__container container">
            <div class="hero__wrapp">
              <p class="hero__subtitle subtitle">Our Group is recognized as one of the World</p>
              <h2 class="hero__title title title--hero">Providing The Best Roofing Services</h2>
              <p class="hero__subtitle subtitle">Our Group is recognized as one of the World's leading Industry
                Corporation serving an impressive list of long-term clients with experience and expertise.</p>
              <div class="hero__wrapp-btn">
                <button class="btn btn--g-w">
                  <span> Explore Our Services</span>
                  <svg class="arrow-btn">
                    <use xlink:href="img/sprite.svg#arrow-m"></use>
                  </svg>
                </button>
                <button class="btn btn--w-g">About US!</button>

                <!-- <button class="btn btn--w-b">
                  <span> Explore Our Services</span>
                  <svg class="arrow-btn">
                    <use xlink:href="img/sprite.svg#arrow-m"></use>
                  </svg>
                </button>

                <button class="btn btn--b-g">
                  <span> Explore Our Services</span>
                  <svg class="arrow-btn">
                    <use xlink:href="img/sprite.svg#arrow-m"></use>
                  </svg>
                </button>

                <button class="btn btn--t-g">About US!</button>

                <button class="btn btn--t-w">About US!</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>