<section class="pay">
  <div class="container">
    <h2 class="pay__title title title--section" data-aos="fade-right">Способы оплаты</h2>
    <div class="pay__list">

      <article class="pay__card" data-aos="fade-right" data-aos-delay="100">
        <div class="pay__desc">
          <h3 class="title title--small">Наличный расчет</h3>
        </div>
      </article>

      <article class="pay__card" data-aos="fade-left" data-aos-delay="200">
        <div class="pay__desc">
          <h3 class="title title--small">Безналичный расчет</h3>
        </div>
      </article>

      <article class="pay__card" data-aos="fade-up" data-aos-delay="300">
        <div class="pay__desc">
          <h3 class="title title--small">Все виды сертификатов</h3>
        </div>
      </article>

    </div>
  </div>
</section>