<section class="pay">
  <div class="container">
    <h2 class="pay__title title title--section">Способы оплаты</h2>
    <div class="pay__list">

      <article class="pay__card">
        <div class="pay__desc">
          <h3 class="title title--small">Наличный расчет</h3>
        </div>
      </article>

      <article class="pay__card">
        <div class="pay__desc">
          <h3 class="title title--small">Безналичный расчет</h3>
        </div>
      </article>
      <article class="pay__card">
        <div class="pay__desc">
          <h3 class="title title--small">Все виды сертификатов</h3>
        </div>
      </article>

    </div>
  </div>
</section>