<section class="promo">
  <div class="promo__wrapp">
    <div class="promo__left">
      <h2 class="promo__title title title--section">
        We Are Experienced And Quality Roofing Services Providers
      </h2>


      <p class="promo__subtitle subtitle">We specialize in the maintenance of metalworking equipment and consulting. Our
        engineers have worked with the full range of equipment from the world leader in metalworking.
      </p>

      <p class="promo__subtitle subtitle">We do focus on production as a whole and its individual components, identify
        systemic.
      </p>

      <button class="promo__btn btn btn--w-b">
        <span>Awards And Milestones</span>
        <svg class="arrow-btn">
          <use xlink:href="img/sprite.svg#arrow-m"></use>
        </svg>
      </button>

    </div>
    <div class="promo__right">
      <picture>
        <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
        <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
        <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
        <img loading="lazy" src="img/banner/img-8.webp" class="promo__img img" height="500" alt="">
      </picture>
    </div>
  </div>
</section>