<section class="service" id="service">
  <div class="container">


    <ul class="service__list">
      <li class="service__item a">
        <h2 class="service__title title title--section">Наши услуги</h2>
      </li>
      <li class="service__item b">
        <article class="service__desc">
          <h3 class="service__name title title--small">Строительство индивидуальных домов</h3>
        </article>
      </li>
      <li class="service__item c">
        <article class="service__desc">
          <h3 class="service__name title title--small">Продажа готовых домов</h3>
        </article>
      </li>
      <li class="service__item d">
        <article class="service__desc">
          <h3 class="service__name title title--small">Подбор участка</h3>
        </article>
      </li>
      <li class="service__item e">
        <article class="service__desc">
          <h3 class="service__name title title--small">Проектирование</h3>
        </article>
      </li>
      <li class="service__item f">
        <article class="service__desc">
          <h3 class="service__name title title--small">Cоздание 3D Дизайна</h3>
        </article>
      </li>
      <li class="service__item g">
        <article class="service__desc">
          <h3 class="service__name title title--small">Чистовая отделка</h3>
        </article>
      </li>
    </ul>

    <div class="service__bottom">
      <div class="service__content">
        <h3 class="service__subtitle title title--medium">Форма обратного звонка</h3>
        <p>Остались вопросы? Заполните форму обратного звонка и наши специалисты свяжутся с Вами!</p>
      </div>

      <form action="#" class="service__form form form--service">
        <label class="form__label">
          <input type="text" name="name" class="input-reset form__input input-name" placeholder="Имя">
        </label>
        <label class="form__label">
          <input type="tel" name="phone" class="input-reset form__input input-tel" placeholder="Телефон">
        </label>
        <button class="btn btn--b-w form__btn">
          <span>Отправить</span>
          <svg class="arrow-btn arrow-btn--big">
            <use xlink:href="img/sprite.svg#svgexport-18"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>