<section class="stage">
  <div class="stage__grid">
    <div class="stage__desc">
      <h2 class="stage__title title title--section">Этапы строительства вашего дома</h2>
      <ul class="stage__pagination swiper-pagination"></ul>
    </div>

    <div class="stage__swiper swiper swiper--stage">
      <div class="swiper-wrapper">
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title"> Заливка фундамента</h3>
          </div>
        </div>
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title"> Перекрытия плит</h3>
          </div>
        </div>
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title"> Кладки стен</h3>
          </div>
        </div>
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title"> Кровля</h3>
          </div>
        </div>
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title"> Электрика</h3>
          </div>
        </div>
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title"> Система отопления</h3>
          </div>
        </div>
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title"> Предчистовая отделка</h3>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>