<section class="stage">
  <div class="stage__grid">
    <div class="stage__desc">
      <h2 class="stage__title title title--section">Этапы строительства вашего дома</h2>
      <ul class="stage__pagination swiper-pagination"></ul>
    </div>

    <div class="stage__swiper swiper swiper--stage">
      <div class="swiper-wrapper">
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title title--small"> Заливка фундамента</h3>
          </div>
          <picture>
            <!-- <source srcset=".webp" type="image/webp"> -->
            <img loading="lazy" src="img/step/step-1.webp" class="promo__img img" width="1280" height="500"
              alt="Заливка фундамента">
          </picture>
        </div>
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title title--small"> Перекрытия плит</h3>
          </div>
          <picture>
            <!-- <source srcset=".webp" type="image/webp"> -->
            <img loading="lazy" src="img/step/step-2.webp" class="promo__img img" width="1280" height="500"
              alt="Перекрытия плит">
          </picture>
        </div>
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title title--small"> Кладка стен</h3>
          </div>
          <picture>
            <!-- <source srcset=".webp" type="image/webp"> -->
            <img loading="lazy" src="img/step/step-3.webp" class="promo__img img" width="1280" height="500"
              alt="Кладка стен">
          </picture>
        </div>
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title title--small"> Кровля</h3>
          </div>
          <picture>
            <!-- <source srcset=".webp" type="image/webp"> -->
            <img loading="lazy" src="img/step/step-4.webp" class="promo__img img" width="1280" height="500"
              alt="Кровля">
          </picture>
        </div>
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title title--small"> Электрика</h3>
          </div>
          <picture>
            <!-- <source srcset=".webp" type="image/webp"> -->
            <img loading="lazy" src="img/step/step-5.webp" class="promo__img img" width="1280" height="500"
              alt="Электрика">
          </picture>
        </div>
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title title--small"> Система отопления</h3>
          </div>
          <picture>
            <!-- <source srcset=".webp" type="image/webp"> -->
            <img loading="lazy" src="img/step/step-6.webp" class="promo__img img" width="1280" height="500"
              alt="Система отопления">
          </picture>
        </div>
        <div class="stage__slide swiper-slide">
          <div class="stage__content">
            <h3 class="title title--small"> Предчистовая отделка</h3>
          </div>
          <picture>
            <!-- <source srcset=".webp" type="image/webp"> -->
            <img loading="lazy" src="img/step/step-7.webp" class="promo__img img" width="1280" height="500"
              alt="Предчистовая отделка">
          </picture>
        </div>

      </div>
    </div>
  </div>

</section>