<section class="works">
  <div class="container">
    <h2 class="works__title title title--section">Наши работы</h2>
  </div>
  <div class="swiper swiper--works">
    <div class="works__list swiper-wrapper">
      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/banner/card-1.webp" class="card__img img" height="700" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом 442 в п. Лесная поляна</h3>
            <p class="card__desc content content--small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
              possimus? Lorem ipsum
              dolor sit amet
              consectetur</p>
            <ul class="card__desc-list">
              <li>
                <p>Площадь: <b>195м<sup>2</sup></b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>

              <li>
                <p>Комнат: <b>5</b></p>
              </li>
              <li>
                <p>Тип дома: <b>Комбинированный</b></p>
              </li>
              <li>
                <p>Санузлов: <b>2</b></p>
              </li>
              <li>
                <p>Спален: <b>3</b></p>
              </li>
            </ul>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/banner/card-1.webp" class="card__img img" height="700" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом 442 в п. Лесная поляна</h3>
            <p class="card__desc content content--small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
              possimus? Lorem ipsum
              dolor sit amet
              consectetur</p>
            <ul class="card__desc-list">
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
            </ul>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/banner/card-1.webp" class="card__img img" height="700" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом 442 в п. Лесная поляна</h3>
            <p class="card__desc content content--small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
              possimus? Lorem ipsum
              dolor sit amet
              consectetur</p>
            <ul class="card__desc-list">
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
            </ul>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/banner/card-1.webp" class="card__img img" height="700" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом 442 в п. Лесная поляна</h3>
            <p class="card__desc content content--small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
              possimus? Lorem ipsum
              dolor sit amet
              consectetur</p>
            <ul class="card__desc-list">
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
            </ul>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/banner/card-1.webp" class="card__img img" height="700" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом 442 в п. Лесная поляна</h3>
            <p class="card__desc content content--small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
              possimus? Lorem ipsum
              dolor sit amet
              consectetur</p>
            <ul class="card__desc-list">
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
            </ul>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/banner/card-1.webp" class="card__img img" height="700" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом 442 в п. Лесная поляна</h3>
            <p class="card__desc content content--small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
              possimus? Lorem ipsum
              dolor sit amet
              consectetur</p>
            <ul class="card__desc-list">
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
            </ul>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/banner/card-1.webp" class="card__img img" height="700" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом 442 в п. Лесная поляна</h3>
            <p class="card__desc content content--small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
              possimus? Lorem ipsum
              dolor sit amet
              consectetur</p>
            <ul class="card__desc-list">
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
            </ul>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/banner/card-1.webp" class="card__img img" height="700" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом 442 в п. Лесная поляна</h3>
            <p class="card__desc content content--small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
              possimus? Lorem ipsum
              dolor sit amet
              consectetur</p>
            <ul class="card__desc-list">
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
            </ul>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/banner/card-1.webp" class="card__img img" height="700" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом 442 в п. Лесная поляна</h3>
            <p class="card__desc content content--small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
              possimus? Lorem ipsum
              dolor sit amet
              consectetur</p>
            <ul class="card__desc-list">
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
              <li>
                <p>Размеры: <b>15x13</b></p>
              </li>
            </ul>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>
    </div>
    <div class="works__pagination swiper-pagination"></div>
  </div>


</section>