<section class="works" id="works">
  <div class="container">
    <h2 class="works__title title title--section">Наши работы</h2>
  </div>
  <div class="swiper swiper--works">
    <div class="works__list swiper-wrapper">
      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/work/work-1.webp" class="card__img img" height="300" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом "Уют 1" в п. Лесная поляна</h3>
            <span class="card__i">105м<sup>2</sup></span>
            <p class="card__desc content content--small">Дом из газобетона, фундамент - свайно-ростверковый, облицовка -
              кирпич. Панорамные окна в пол с выходом на просторную
              террасу. Теплые полы по всему дому, предчиствовая отделка White Box. В доме по проекту 3 спальни, кухня
              совмещена с гостиной, гардеробная, котельная и ванная комната.</p>
            <!-- <ul class="card__desc-list">
              <li>
                <p>Площадь: <b>105м<sup>2</sup></b></p>
              </li>
              <li>
              <p>Размеры: <b>15x13</b></p>
              <p>Облицовка: <b>Кирпич</b></p>
              </li>
               <li>
                <p>Тип дома: <b>Газобетон</b></p>
              </li>
              <li>
                <p>Комнат: <b>4</b></p>
              </li>
              <li>
                <p>Спален: <b>3</b></p>
              </li>
              <li>
                <p>Санузлов: <b>1</b></p>
              </li>
            </ul>  -->
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>

      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/work/work-2.webp" class="card__img img" height="300" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом "Уют 2" в п. Лесная поляна</h3>
            <span class="card__i">100м<sup>2</sup></span>
            <p class="card__desc content content--small">
              Дом из газобетона, фундамент - свайно-ростверковый, облицовка – фасадная штукратурка. Общая площадь 105
              м<sup>2</sup> по внутренним стенам. Панорамные окна в пол с выходом на просторную террасу. Теплые полы по
              всему дому, предчиствовая отделка White Box. В доме по проекту 3 спальни, кухня совмещена с гостиной,
              гардеробная, котельная и ванная комната.
            </p>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>

      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/work/work-3.webp" class="card__img img" height="300" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом "140" в п. Карныш</h3>
            <span class="card__i">140м<sup>2</sup></span>
            <p class="card__desc content content--small">
              Дом из газобетона, фундамент - свайно-ростверковый, облицовка -кирпич. Общая площадь 140 м<sup>2</sup>. по
              внутренним стенам, панорамные окна в пол с выходом на просторную террасу, теплые полы по всему дому,
              предчистовая отделка White Box. В доме по проекту 5 спален, кухня совмещена с гостиной, гардеробная,
              котельная, ванная комната и санузлы.
            </p>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>

      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/work/work-4.webp" class="card__img img" height="300" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом "150" в п. Лесная поляна</h3>
            <span class="card__i">150м<sup>2</sup></span>
            <p class="card__desc content content--small">
              Дом из газобетона, фундамент - свайно-ростверковый, облицовка -кирпич. Общая площадь 150 м<sup>2</sup> по
              внутренним стенам. Панорамные окна в пол с выходом на просторную террасу. Теплые полы по всему дому,
              предчистовая отделка White Box. В доме по проекту 5 спален, кухня совмещена с гостиной, гардеробная,
              котельная, ванная комната и санузлы.
            </p>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>

      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/work/work-5.webp" class="card__img img" height="300" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом "110" в п. Лесная поляна</h3>
            <span class="card__i">110м<sup>2</sup></span>
            <p class="card__desc content content--small">
              Общая площадь 110 м<sup>2</sup> по
              внутренним стенам. Панорамные окна в пол с выходом на просторную террасу. Предчистовая отделка. В доме по
              проекту 3 спален, кухня совмещена с гостиной, гардеробная,
              котельная, ванная комната и санузел.
            </p>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>

      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/work/work-6.webp" class="card__img img" height="300" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом "170" в п. Лесная поляна</h3>
            <span class="card__i">170м<sup>2</sup></span>
            <p class="card__desc content content--small">
              Общая площадь 170 м<sup>2</sup> по
              внутренним стенам. В доме по
              проекту 3 спален, кухня-столовая, гостинная, кладовая, гардеробная, веранда, котельная, ванная комната и
              санузел.
            </p>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>

      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/work/work-7.webp" class="card__img img" height="300" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом "К75" в п. Лесная поляна</h3>
            <span class="card__i">75м<sup>2</sup></span>
            <p class="card__desc content content--small">
              Общая площадь 75 м<sup>2</sup> по
              внутренним стенам. В доме по
              проекту 2 спальни, кухня, гостинная и санузел.
            </p>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>

      <div class="works__item swiper-slide">
        <article class="works__card card">
          <picture>
            <!-- <source srcset="img/hero/slide-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero/slide-1-1024.webp" type="image/webp" media="(max-width: 1439px)">
            <source srcset="img/hero/slide-1-1440.webp" type="image/webp" media="(max-width: 1919px)"> -->
            <img loading="lazy" src="img/work/work-8.webp" class="card__img img" height="300" alt="">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Дом "К107" в п. Лесная поляна</h3>
            <span class="card__i">120м<sup>2</sup></span>
            <p class="card__desc content content--small">
              Дом из керамического кирпича, облицовка - керамический кирпич. В доме по проекту 3 спальни, кухня
              совмещена с гостиной, гардеробная, терасса, котельная и ванная комната.
            </p>
            <button class="card__btn btn btn--g-b">Подробнее</button>
          </div>
        </article>
      </div>
    </div>
    <div class="works__pagination swiper-pagination"></div>
  </div>


</section>