// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-title: "Montserrat", sans-serif;
  --font-family: "Inter", sans-serif;
  --content-width: 1280px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}